Referral Chasing

Currently referrals are not dealt with. They are described in RFC 4511 section 4.1.10:

https://tools.ietf.org/html/rfc4511#section-4.1.10

Also in search continuation references:

https://tools.ietf.org/html/rfc4511#section-4.5.3

There should be an option to follow/handle referrals. To do this I will also need to parse out LDAP URLs described in RFC 4516:

https://tools.ietf.org/html/rfc4516

Mostly implemented with https://github.com/FreeDSx/LDAP/commit/38e1ae5b5246e3e6c2f4e86241ee3804e7502432. Still need to take a closer look at search continuation references.

Marking this as closed for the time being. Though I'm open to improvements.